/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* font-face */
.old-standard-tt {
  font-family: "Old Standard TT", serif;
  font-weight: normal;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 300;
  color: #f3f7f5;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: radial-gradient(circle at center, #1d1d1d 10%, #111 100%);
  color: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  line-height: normal;
}

section {
  height: 100vh;
}

#about {
  padding-top: 100px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.video-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

#project, #contact {
  background: #323233;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

#project.show, #contact.show, #about.show, .video-section.show {
  opacity: 1;
  transform: translateX(0);
}

.upcoming-feature {
  margin: 0 4.6vw;
}

.upcoming-feature {
  display: flex;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
}

.feature-button {
  text-decoration: none;
  margin-right: 2.6vw;
  padding: 0 2vw;
  border-radius: 5px;
  width: auto;
  height: 3rem;
  background-color: #f3f7f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-button:hover {
  color: #f3f7f5;
  background-color: #9b8d5f;
}

.titles {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(235, 227, 215, 0.3);
}

.titles h3 {
  font-size: clamp(16px, 1.8vw, 32px);
  color: #9b8d5f;
  font-weight: 900;
}

.titles h2 {
  margin-top: 10px;
  font-size: clamp(14px, 1.4vw, 26px);
  text-align: center;
  margin-bottom: 30px;
}

/* timeline line */
.timeline {
  position: relative;
  margin: 5vh 0;
  padding-left: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 2vw;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #444;
}

.timeline-item {
  margin: 3vh;
  display: flex;
  align-items: center;
}

.toggle {
  background: #444;
  color: #fff;
  padding: 1vw 3vw;
  border-radius: 1vw;
  cursor: pointer;
  display: inline-block;
}

.content {
  margin-left: 3vw;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
}

.codingame {
  background: #222;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.codingame p {
  margin-bottom: 15px;
  font-size: 1.1em;
}

.codingame a {
  display: inline-block;
  padding: 10px 20px;
  background: #444;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: transform 0.3s, background 0.3s;
}

.codingame a:hover {
  background: #c6aa76;
  transform: scale(1.1); /* zoom effect */
}

.codingame i {
  margin-right: 8px;
}

/*video container*/
.video-section {
  display: flex;
  min-height: 100vh;
}

.video-section .video-side {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-section .video-side iframe {
  width: 90%;
  height: 90%;
}

.video-section .gap-side {
  flex: 1;
  background: #fff;
}

.video-section .content-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 1vw;
  gap: 2rem;
}

.contact-body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  width: 50vw;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #202020;
  font-family: Arial, sans-serif;
}
.contact-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.contact-container label {
  display: block;
  margin-top: 1rem;
}
.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.contact-container button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.75rem;
  background: #0078d7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contact-container button:hover {
  background: #005fa3;
}

/*responsive*/
@media (max-width: 1170px) {
}

@media (max-width: 768px) {
}

/* Responsive media and max width 990px */
@media screen and (max-width: 990px) {
  .upcoming-feature {
    order: 4;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

/* Responsive media and max width 550px */
@media screen and (max-width: 550px) {
  html {
    font-size: 14px;
  }

  .feature-button {
    font-size: 0.75rem;
    padding: 0 15px;
    height: 2rem;
  }
}
